.contact-us {
  &__page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-green-200);
    min-height: 100vh;
    padding: 24px 16px;
    @media screen and (min-width: 1024px) {
      padding: 0;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 24px;

  a {
    color: hsl(228, 45%, 44%);
  }
}